.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height:100vh; */
}

.App-logo {
  height: 40vmin;
}

.container {
  padding:100px;
  margin:10px;
  border: 1px solid #ccc;
}